USE [EUCDatabase]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 20.04.2023 18:45:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Iso] [char](2) NOT NULL,
	[Name] [varchar](80) NOT NULL,
	[Nicename] [varchar](80) NOT NULL,
	[Iso3] [char](3) NULL,
	[Numcode] [int] NULL,
	[Phonecode] [int] NOT NULL,
 CONSTRAINT [PK__Country__3214EC077432AD66] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 20.04.2023 18:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[IdentityNumber] [nvarchar](20) NULL,
	[Email] [nchar](150) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[SexId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[GdprAgree] [bit] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 20.04.2023 18:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Iso], [Name], [Nicename], [Iso3], [Numcode], [Phonecode]) VALUES (1, N'AF', N'AFGHANISTAN', N'Afghanistan', N'AFG', 4, 93)
INSERT [dbo].[Country] ([Id], [Iso], [Name], [Nicename], [Iso3], [Numcode], [Phonecode]) VALUES (2, N'AL', N'ALBANIA', N'Albania', N'ALB', 8, 355)
INSERT [dbo].[Country] ([Id], [Iso], [Name], [Nicename], [Iso3], [Numcode], [Phonecode]) VALUES (3, N'DZ', N'ALGERIA', N'Algeria', N'DZA', 12, 213)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[Sex] ON 

INSERT [dbo].[Sex] ([Id], [Value]) VALUES (1, N'Male')
INSERT [dbo].[Sex] ([Id], [Value]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[Sex] OFF
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Iso3__52593CB8]  DEFAULT (NULL) FOR [Iso3]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF__Country__Numcode__534D60F1]  DEFAULT (NULL) FOR [Numcode]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Country]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Sex] FOREIGN KEY([SexId])
REFERENCES [dbo].[Sex] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Sex]
GO
